
:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(185, 185, 185);
    font-family: var(--system-ui);
 
}

body {
    display: flex;
    height: 100vh;
    background-color: #332E3C;
    justify-content: center;
    align-items: center;

}

.main-body {
    display: flex;
    width: 100%;
    height: 100%;


}

.left-img {
    display: flex;
    width: 35%;
    
    background-image: url(assets/casey-horner-space.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
        align-items: center;

}

.logo {

    width: 100%;
    background-color: rgba(0,0,0,0.75);
    padding: 10px 0;
    

    text-align: center;
    
}

h1 {
    color: white;
}

.right {
    display: flex;
    
    flex-flow: column nowrap;
    justify-content: center;
       
}

.intro-text {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px;
    
    justify-content: center;
    text-align: center;
}

.form-header{
    margin-left: 10px;
}
.form-body {

    background-color: rgb(22, 22, 22);
    box-shadow: 0 10px 20px 2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.input-obj{
    display: flex;
    flex-flow: column wrap;
    width: 35%;
    padding: 5px;

}

#login{
    margin-left: 10px;
}

input {
    margin-top: 5px;
    height: 30px;

    background-color: #332E3C;
    border: 1px solid grey;
    border-radius: 3px;
}

button {
    width: 10vw;
    height: 6vh;
    margin: 10px;

    font-size: 1.2rem;
    border: 3px solid grey;
    background-color: #332E3C;
}